@import 'styles/common.css';

.configuration-form {
  display: block;
}

.configuration-form .mdl-textfield {
  width: calc(100% - 120px);
}

.configuration-form button {
  width: 100px;
  margin: 0 0 0 10px;
}

#config-cell {
  background: none;
}

.config-container {
  padding: 10px 10px 0 10px;
  background: linear-gradient(white, #f9f9f9);
}

.settings-description {
  font-style: italic;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  padding-top: 5px;
}

.settings-description:first-child {
  border-top: none;
  padding-top: 0;
}

#scroll-down-container {
  top: calc(100% - 46px);
}

#users-card {
  height: 100%;
  padding-bottom: 0;
}

#users {
  overflow-y: auto;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-container {
  display: block;
  margin-top: 10px;
  border-top: 1px solid #f3f3f3;
  padding-top: 10px;
  transition: opacity 1s ease-in-out;
}

.user-container:first-of-type {
  border-top-width: 0;
}

.user-container .pic {
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 20px;
}

.user-container .spacing {
  display: table-cell;
  vertical-align: top;
}

.user-container .name {
  display: table-cell;
  width: calc(100% - 40px);
  padding: 5px 0 5px 10px;
}

.user-container .byline {
  padding-left: 40px;
}

.user-container .email,
.user-container .admin {
  padding-right: 10px;
  color: #bbb;
  font-style: italic;
  font-size: 12px;
  box-sizing: border-box;
}

.user-container .admin {
  float: right;
}
