@import 'styles/common.css';

.message-container .callback-emoji {
  background-color: rgba(0, 0, 0, 0.54);
  width: 30px;
  height: 30px;
  border-radius: 20px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.message-container .callback-progress {
  display: table-cell;
  width: 100%;
  padding: 0 0 10px 10px;
}

.message-container .callback-progress-bar {
  background-image: url('/images/crowd.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  color: #fff;
  height: 30px;
  transition: width 1s ease-in-out;
}

#messages {
  height: calc(100% - 158px);
}

.callback-progress-bar .callback-progress-callback {
  height: 25px;
  float: right;
  margin: 5px;
}

.callback-progress-bar-expired {
  height: 30px;
}

.callback-progress-bar-expired .callback-progress-callback {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 5px 15px;
  vertical-align: bottom;
}

.message-container .callback-progress-voice {
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 2px -5px;
  background-size: 25px;
  border-radius: 15px;
}

.message-container .callback-progress-voice:first-child {
  margin-left: 15px;
}

#message-form {
  display: block;
  padding: 0 4px;
}

.one-button-form {
  display: block;
  margin: 5px;
  width: auto;
}

.one-button-form button {
  height: 42px;
  width: 100%;
  display: block;
}

#message-form .mdl-textfield {
  width: calc(100% - 63px);
}

#message-form button {
  width: 50px;
  margin: 0 0 0 10px;
}

.callback-video {
  width: 100%;
}

#youtube-stream {
  height: 100%;
}

#promo {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('/images/background2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

#promo-container {
  position: relative;
  top: calc(50% - 335px);
  width: 1000px;
  display: block;
  margin: auto;
}

#promo-image {
  background-image: url('/images/hold-my-beer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 1000px;
  display: block;
}

#promo-social,
#promo-action {
  background-color: black;
  color: white;
  width: 1000px;
  display: block;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-variant-caps: small-caps;
}

#promo-facebook {
  display: inline-block;
  background-image: url('/images/facebook.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 27%;
  margin: 0 10%;
  text-decoration: none;
  vertical-align: middle;
}

#promo-eventbrite {
  display: inline-block;
  background-image: url('/images/eventbrite.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 67px;
  width: 34%;
  margin: 0 8%;
  text-decoration: none;
  vertical-align: middle;
}

@media screen and (max-width: 610px) {
  #promo {
    background-image: url('/images/screenshot-mobile.png');
  }

  #promo-container {
    top: calc(50% - 210px);
    width: 300px;
    position: relative;
    display: block;
    margin: auto;
  }

  #promo-image {
    background-image: url('/images/hold-my-beer-mobile.jpg');
    height: 224px;
    width: 300px;
  }

  #promo-social,
  #promo-action {
    font-size: large;
    width: 300px;
  }

  #promo-facebook {
    height: 15px;
  }

  #promo-eventbrite {
    height: 20px;
  }
}

#error-container {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

#error {
  width: 75%;
  margin: 20% auto;
}

#error-harvey {
  background-image: url('/images/harvey-big.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(0.5turn);
  height: 200px;
  width: 200px;
  margin: auto;
}

#error-header {
  text-align: center;
  margin: 20px 0;
  font-size: xx-large;
  font-weight: bold;
  font-variant-caps: small-caps;
}

#error-text {
  text-align: center;
  margin: 20px 0;
  font-size: large;
}

#intro-container {
  color: #fff;
  z-index: 100;
}

#intro {
  background-color: rgba(0, 0, 0, 0.8);
  width: 75%;
  margin: 15% auto;
}

#intro-harvey {
  background-image: url('/images/harvey-big.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: auto;
}

#intro-header {
  text-align: center;
  margin: 20px 0;
  font-size: xx-large;
  font-weight: bold;
  font-variant-caps: small-caps;
}

#intro-text {
  text-align: center;
  margin: 20px 0;
  font-size: large;
}

#intro-text div {
  margin: 10px 0;
}

#youtube-chat {
  height: 100%;
}

#youtube-stream-container {
  background: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 610px) {
  #youtube-stream-container {
    display: none;
  }
}

#hidden-audio {
  visibility: hidden;
  height: 1px;
}

.notifications-label {
  vertical-align: top;
}

.not-intersecting {
  border: 1px solid red;
}

#scroll-down-container {
  top: calc(100% - 216px);
}

.active-users {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: right;
  width: 100%;
}

.messagebuttons {
  margin-top: -10px;
}

.messagebuttons-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 610px) {
  #messages-card-container {
    height: 100%;
  }

  #messages {
    height: calc(100% - 168px);
  }

  .mdl-cell--4-col-phone.mdl-cell--4-col-phone {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .mdl-card__supporting-text {
    padding: 4px;
  }

  #scroll-down-container {
    left: calc(50% - 70px);
  }
}
