name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v2

      - name: Set Node.js version ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
          registry-url: "https://npm.pkg.github.com"

      - name: Install npm dependencies
        # Skip post-install scripts here, as a malicious script could steal NODE_AUTH_TOKEN.
        run: "npm ci --ignore-scripts"
        shell: bash
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      # `npm rebuild` will run all those post-install scripts for us.
      - name: Run post-install scripts
        run: "npm rebuild && npm run prepare --if-present"
        shell: bash

      - name: Run ESLint
        run: npx eslint functions/ src/ test/ --ext .js,.jsx,.mjs,.ts,.tsx

      - name: Run stylelint 
        run: npx stylelint styles/*

