name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v2

      - name: Set Node.js version ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install packages
        run: npm ci

      - name: Run ESLint
        run: npx eslint functions/ src/ test/ --ext .js,.jsx,.mjs,.ts,.tsx

      - name: Run stylelint 
        run: npx stylelint styles/*

